{% extends 'logged_out.html' %}

{% block title %}Sustainable Seafood{% endblock %}

{% block body %}

<h1>Create Your Account</h1>
<form id="createaccount" method="POST">
    <input type="hidden" name="email" value = "{{email}}" >
    <input type="hidden" name="password" value = "{{password}}"> 
    <!-- <input type="text" name="zip_code" placeholder="Enter Zip Code" required> <br><br> -->
    <input type="text" name="zip_code" pattern="\d{5}" placeholder="Enter Zip Code" oninvalid="alert('Please enter a valid 5 digit zip code.')" required> <br><br>
    <button id="signup" class="signUpText" formaction="/login">Enter</button>
  </form>
{% endblock %}