{% macro fish_card(favorites) %}

{% for fish in favorites %}
    {% if fish in favorites %}
        <form id="favorite" action='/favorite_fish/{{fish.fish_id}}' method='POST' >
            <button type="button" id='fave{{fish.fish_id}}' name = "{{fish.fish_id}}" value = "{{fish.fish_id}}" class="card-link">Remove from watchlist</button>
        </form>       
        {% else %}          
            <form id="favorite" action='/favorite_fish/{{fish.fish_id}}' method='POST' >
                <button type="button" id='fave{{fish.fish_id}}' name = "{{fish.fish_id}}" value = "{{fish.fish_id}}" class="card-link">Add to watchlist</button>
            </form>   
        {% endif %} 
    {%endfor%}
{% endmacro %}
