{% extends 'logged_out.html' %}

{% block title %}Sustainable Fish{% endblock %}

{% block body %}

<form id="email_password" method="POST">
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-body">
				<form>
					<div class="input-group form-group">
            <input type="email" class="form-control" name="email" placeholder="email" required>
					</div>
          <br>
					<div class="input-group form-group">
            <input type="password" class="form-control" name="password" placeholder="password" required>
					</div>
          <br>
					<div class="form-group text-center login_container">
						<input type="submit" formaction="/login" value="Login" class="btn btn-primary btn-block">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
          <input type="submit" formaction="/createaccount" value="Create New Account" class="btn float-right login_btn">
				</div>
			</div>
		</div>
	</div>
</div>
</form>


{% endblock %}

