{% extends 'base.html' %}

{% block title %}Sustainable Seafood{% endblock %}

{% block body %}

<p><b>Email: {{user.email}}</b></p>
<p id={{user.zip_code}} value={{user.zip_code}}><b>Your zip code: {{user.zip_code}}</b></p>

<div>
    <p><b>Shop local. Farmer's markets near you:</b></p>
    <ul id="marketplaces"></ul>
</div>



<h4>Your Watchlist</h4>
<div class="row">
    {% for fish in favorites %}
    <div class="card" style="width: 18rem;">
        <img src="{{ fish.img_url }}" class="card-img-top card-img" alt="{{fish.name}}">
        <div class="card-body">
            <h5 class="card-title"><a href="/species/{{ fish.fish_id }}">{{fish.name}}</a></h5>
            <h6 class="card-subtitle mb-2 text-muted">Sustainability Rating: <b>{{fish.score}}</b></h6>
            {% if fish in favorites %}
                <form id="favorite" action='/favorite_fish/{{fish.fish_id}}' method='POST' >
                    <button type="button" id='fave{{fish.fish_id}}' name = "{{fish.fish_id}}" value = "{{fish.fish_id}}" class="card-link">Remove from watchlist</button>
                </form>       
                {% else %}          
                    <form id="favorite" action='/favorite_fish/{{fish.fish_id}}' method='POST' >
                        <button type="button" id='fave{{fish.fish_id}}' name = "{{fish.fish_id}}" value = "{{fish.fish_id}}" class="card-link">Add to watchlist</button>
                    </form>   
                {% endif %} 
        </div>
        <script>
            $(`#fave{{fish.fish_id}}`).on('click', (evt) => {
                evt.preventDefault();
                fish_id = $(`#fave{{fish.fish_id}}`).val()
                $.post("favorite_fish/{{fish.fish_id}}", fish_id, (res) =>{
                    $(`#fave{{fish.fish_id}}`).html(res)
                    location.reload()
                });
            });
        </script>
      </div>
      {% endfor %}
  </div>

  <script>
    function getMarkets() {
        let zip = $('#{{user.zip_code}}').attr('value')
        let marketplaces = $('#marketplaces')
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "http://search.ams.usda.gov/farmersmarkets/v1/data.svc/zipSearch?zip=" + zip,
            dataType: 'jsonp',
            success: function searchResultsHandler(data) { 
                for (key in data) { //key is our 'results'
                    let results = data[key]; //results is our list of objects
                    for (let i = 0; i < results.length; i++) {
                        let result = results[i]; //result is 1 object
                        marketid = result["id"]
                        marketname = result["marketname"]
                        marketplaces.append('<li>'+marketname+'</li>')
                    }
                }
            }
        });
    }

getMarkets()


    </script>

    {% endblock %}



