{% extends 'base.html' %}

{% block title %}Sustainable Seafood{% endblock %}

{% block body %}

<div
    class="p-5 text-center bg-image"
    style="
    background: linear-gradient(to top, #034078, #1282A2);
    height: 175px;
    "
    >
<div class="mask">
  <div class="d-flex justify-content-center align-items-center">
    <div class="text-white">
        <br>
      <h2 class="mb-3">Profile</h2>
    </div>
  </div>
</div>
</div>

<div class="container center">
    <div style="padding-right: 100px; padding-left:100px;">
        <p><b>Email: </b>{{user.email}}</p>
        <div>
            <p id=zip{{user.zip_code}} value={{user.zip_code}}><b>Zip code: </b>{{user.zip_code}}
            </p>
            <button id="show" class = "btn btn-outline-primary btn-sm">Update Zip Code</button>
            <div class="center hideform">
                <button id="close" style="float: right;">X</button>
                <form action="/updatezipcode" method="POST">
                    <input type="text" name="zip_code" pattern="\d{5}" placeholder="New Zip Code" oninvalid="alert('Please enter a valid 5 digit zip code.')" required> <br><br>
                    <input type="submit" value="Update">
                </form>
            </div>
        </div>
    </div>
</div>





<script>
    $('#show').on('click', function () {
        $('.center').show();
        $(this).hide();
    })

    $('#close').on('click', function () {
        $('.center').hide();
        $('#show').show();
    })
</script>


{% endblock %}



