{% extends 'base.html' %}

{% block title %}Sustainable Fish{% endblock %}

{% block body %}


<div class="container">
  <br/>
<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8">
      <form class="card card-sm">
          <div class="card-body row no-gutters align-items-center">
              <div class="col">
                  <input id="tags" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search species">
              </div>
          </div>
      </form>
  </div>
</div>
</div>

<script>
  $( function() {
    var fishnamelist = {{fishnamelist|safe}};
    //sub happend before JS saw the html
    $("#tags").autocomplete({
      source: fishnamelist,
      select: function(event, ui){
        window.location.href = ui.item.value;
        return false;
      },
      focus: function(event, ui) {
        event.preventDefault();
        $("#tags").val(ui.item.label);
      }
    });
  });
  </script>

{% endblock %}