{% extends 'base.html' %}

{% block title %}Sustainable Seafood{% endblock %}

{% block body %}

<div
    class="p-5 text-center bg-image"
    style="
    background: linear-gradient(to top, #001F54, #034078);
    height: 175px;
    "
    >
<div class="mask">
  <div class="d-flex justify-content-center align-items-center">
    <div class="text-white">
      <h2 class="mb-3">Explore Species</h2>
      <h5 class="mb-3">Rating | Region</h5>
    </div>
  </div>
</div>
</div>

<div class="container">
    <div class="row csscenter" style="padding-right: 100px; padding-left:100px;">
        <form action='/search_results'>
            <fieldset style="width:50%; float:left">
                <legend>Explore by rating: </legend>
                <ul>
                    <li color-rating="green">
                        <input id="best choice" type="checkbox" name="rating" value="1">
                        <label>1 (Best Choice)</label></li>
                    <li color-rating="yellow">
                        <input id="okay alternative" type="checkbox" name="rating" value="2">
                        <label>2 (Okay Alternative)</label>
                    </li>
                    <li color-rating="red">
                        <input id="avoid" type="checkbox" name="rating" value="3">
                        <label>3 (Avoid)</label>
                    </li>
                </ul>
            </fieldset>
            <fieldset style="margin-left:50%">
                <legend>Explore by region: </legend>
                <ul>
                    <li>
                        <input id="Greater Atlantic" type="checkbox" name="region" value="Greater Atlantic">
                        <label>Greater Atlantic</label></li>
                    <li>
                        <input id="West Coast" type="checkbox" name="region" value="West Coast">
                        <label>West Coast</label>
                    </li>
                    <li>
                        <input id="Alaska" type="checkbox" name="region" value="Alaska">
                        <label>Alaska</label>
                    </li>
                    <li>
                        <input id="Pacific Islands" type="checkbox" name="region" value="Pacific Islands">
                        <label>Pacific Islands</label>
                    </li>
                    <li>
                        <input id="Southeast" type="checkbox" name="region" value="Southeast">
                        <label>Southeast</label>
                    </li>
                </ul>
            </fieldset>
            <button type="submit" class="btn btn-primary">Go Fish!</button>
        </form>
    </div>
    <div style="padding-right: 100px; padding-left:100px;">
        <h1>All Species</h1>
    
        {% for page_num in fishes.iter_pages(left_edge=10, right_edge=10,left_current=10, right_current=10) %}
        {% if page_num %}
            {% if fishes.page == page_num %}
                <a class="btn btn-primary mb-4 " href="{{ url_for('all_fish', page=page_num)}}">{{page_num}}</a>
            {% else %}
                <a class="btn btn-outline-primary mb-4 " href="{{ url_for('all_fish', page=page_num)}}">{{page_num}}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
        {% endfor %}
    </div>
    
    <div id="loading">
        <img src="https://www.sustainableseafoodcoalition.org/wp-content/uploads/sustainable_fish_cycle.png"width="50" height="50" padding="5%" class="row spinner"><br>
    </div>
    
    <div class="row csscenter" style="padding-right: 50px; padding-left:50px;">
        <div id="fishblock" style="display:none;">
            <div class="row">
                {% for fish in fishes.items %}
                <div class="card score{{fish.score}}" style="width: 18rem;">
                    <img src="{{ fish.img_url }}" class="card-img-top card-img" alt="{{fish.name}}">
                    <div class="card-body">
                        <h5 class="card-title"><a href="/species/{{ fish.fish_id }}">{{fish.name}}</a></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Sustainability Rating: <b>{{fish.score}}</b></h6>
                        <h6 class="card-subtitle mb-2 text-muted">Region: {{fish.region}}</h6><br>
                        {% if fish in favorites %}
                            <form id="favorite" action='/favorite_fish/{{fish.fish_id}}' method='POST' >
                                <button type="button" class="btn btn-sm btn-outline-primary" id='fave{{fish.fish_id}}' name = "{{fish.fish_id}}" value = "{{fish.fish_id}}" class="card-link">Remove from watchlist</button>
                            </form>       
                            {% else %}          
                                <form id="favorite" action='/favorite_fish/{{fish.fish_id}}' method='POST' >
                                    <button type="button" id='fave{{fish.fish_id}}' class="btn btn-sm btn-outline-primary" name = "{{fish.fish_id}}" value = "{{fish.fish_id}}" class="card-link">Add to watchlist</button>
                                </form>   
                            {% endif %} 
                    </div>
                    <script>
                        $(`#fave{{fish.fish_id}}`).on('click', (evt) => {
                            evt.preventDefault();
                            fish_id = $(`#fave{{fish.fish_id}}`).val()
                            $.post("favorite_fish/{{fish.fish_id}}", fish_id, (res) =>{
                                $(`#fave{{fish.fish_id}}`).html(res)
                                
                            });
                        });
                    </script>
                  </div>
                  {% endfor %}
              </div>
            </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#fishblock').show();
        $('#loading').hide();
    });
</script>

  {% endblock %}


