{% extends 'base.html' %}

{% block title %}Sustainable Seafood{% endblock %}

{% block body %}

<h1>All Species</h1>

<div class="row">
    {% for fish in fishes %}
    <div class="card" style="width: 18rem;">
        <img src="{{ fish.img_url }}" class="card-img-top card-img" alt="{{fish.name}}">
        <div class="card-body">
            <h5 class="card-title"><a href="/species/{{ fish.fish_id }}">{{fish.name}}</a></h5>
            <h6 class="card-subtitle mb-2 text-muted">Sustainability Rating: <b>{{fish.score}}</b></h6>
            <h6 class="card-subtitle mb-2 text-muted">Region: {{fish.region}}</h6>   
            {% if fish in favorites %}
                <form id="favorite" action='/favorite_fish/{{fish.fish_id}}' method='POST' >
                    <button type="button" id='fave{{fish.fish_id}}' name = "{{fish.fish_id}}" value = "{{fish.fish_id}}" class="card-link">Remove from watchlist</button>
                </form>       
                {% else %}          
                    <form id="favorite" action='/favorite_fish/{{fish.fish_id}}' method='POST' >
                        <button type="button" id='fave{{fish.fish_id}}' name = "{{fish.fish_id}}" value = "{{fish.fish_id}}" class="card-link">Add to watchlist</button>
                    </form>   
                {% endif %} 
        </div>
        <script>
            $(`#fave{{fish.fish_id}}`).on('click', (evt) => {
                evt.preventDefault();
                fish_id = $(`#fave{{fish.fish_id}}`).val()
                $.post("favorite_fish/{{fish.fish_id}}", fish_id, (res) =>{
                    $(`#fave{{fish.fish_id}}`).html(res)
                    
                });
            });
        </script>
      </div>
      {% endfor %}
  </div>

  {% endblock %}
<!-- 
  $('#update-status').on('click', () => {
    $.get('/status', { order: 123 }, (res) => {
      $('#order-status').html(res);
    });
  }); -->


  <!-- // const button1 = $('#signIn');
    
  // button1.on('click', () => {
  //   if (button1.html() === "Log In"){
  //     button1.html('Log Out');
  //   }
  //   else {
  //     button1.html('Log In');
  //   }
  // });    -->

<!-- <script> 
    "use strict";
    let favoritebutton = document.querySelector("#favorite")
    favoritebutton.addEventListener("click", () => {      
      if (favoritebutton.textContent == "Add to watchlist"){
          favoritebutton.textContent ='Remove to watchlist';
      }
      else {
          favoritebutton.textContent ='Add to watchlist';
      }
    });
</script> -->